* {
  box-sizing: border-box;
}

header {
  background-color: #8ac1e1;
  color: #a7540be3;
  text-align: right;
  padding-top: 0.1%;
  padding-bottom: 1.5%;
  font-size: 1.2em;
  
}

header img {
  height: 46px;
  float: left;
  margin-top: 1.1%;

}

header, #header2, nav, footer {
  padding-left: max(calc(50vw - 500px) ,15px); /*for responsiveness and compatibility with smaller displays */
  padding-right: max(calc(50vw - 250px) ,15px);
}

#header2 {
  background-color: #095b8be3;
  color: white;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
}

nav {
  line-height: 20px;
  background-color: #8ac1e1;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  color:#0c4ec1;

}

nav ul {
  list-style: none;
  margin: 0 auto;
  text-align: left;
  padding-left: 0px;
  
}

nav ul li {
  display: inline-block;
  font-size: 1em;
}

ul.bc li+li:before {
  padding: 8px;
  color: #4c7bcc;
  content: "\203a";
}

a.bc {
  text-decoration: none;
  color: #4c7bcc;

}

body {
  font-family: sans-serif;
  color: #020202;
  margin: 0;
  min-height: 100vh; 
  
}


article {
  padding-top: 5px;
  padding-bottom: 30px;
  max-width: 800px;
  min-height: 440px;
  margin-left: max(calc(50vw - 500px) ,15px); /*for responsiveness and compatibility with smaller displays */
  margin-right: 15px;
  font-size: 1.2em;
}


td, th {
  align-self: center;
  width: 10%;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background: lightblue;
  border-color: white;
}

tbody tr:hover {
  background: rgba(255, 192, 104, 0.381);
}


section {
  padding-top: 25px;
}

a.title {
  color: #4c7bcc;
  text-decoration: underline;
  font-weight: 600;
} /* this is for links inside pages*/


/* form */
label {
  display: inline-block;
  width:240px;
  cursor: pointer;
  text-align: left;
}


fieldset > label {
  width:50px;
  margin-left: 10px;
}

fieldset
{
  border:1px solid #b7b3b3;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;	
  border-radius:8px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 30px;
  width:50%;
  min-width: 250px;

}

input, select, option {
  font-family: inherit;
  font-size: 100%;
  margin: 2% 2% 2% 0%;
  border-radius: 7px;

}

select {
  background-color: #d6eaf7;
  width: 55%;
  max-width: 220px;
  font-size: smaller;
  padding: 6px;
  margin: 3px;
  margin-bottom: 20px;
}



input[type="submit"] {

  box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color: white;
	padding:12px 48px;
  margin-bottom: 48px;
}

input[type="reset"] {
  color: #ef0b0b;
  cursor: pointer;

  
}

input[type="text"], input[type="email"] {
  width:95%;
  max-width: 400px;
  padding:0.5%;
  background-color: #d6eaf7;
  margin: 0px auto 30px 0px;
    
}

#tel {
  width:200px;
}

input[type="text"]:hover, input[type="email"]:hover {
  border-color: #0c4ec1;
  border-width: 3px;
}

input[type="text"]:focus, input[type="email"]:focus {
  background-color: #f8fffe;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  outline:2px solid #0c4ec1;
  
}


#cont {
display:contents;
}


#error {
  color: red;
  font-style: italic;
}


#img-body, #vid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#vid {
  width: 90%;
}


#caption {
  text-align:center;
  display: block;
  font-size: .8em;
}

#vid {
height:50vh;
}

footer {
  width:100%;
  height: 150px;
  background-color: #095b8be3;
  color: white;
  display: table;
}


footer ul li {
  display: inline-block;
  max-width:100%;
  padding-top: 2%;
  padding-bottom:15px;
  width:300px;

}

footer ul {
  padding-left: 0px;
  width: 100%;
  line-height: 25px;

}

footer a {
    color: #fff;
  
}


